@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700;800&family=Montserrat:wght@200;400;600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700;6..12,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant';
}

html{
    scroll-behavior: smooth;
}
#register{
    display: flex;
    background: linear-gradient(#0D51D9, #2975D9, #5298F2, #F2F2F2);
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#register .container header{
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#register .container header .container-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#register .container header .container-header h1{
    text-align: center;
}
#register .container header .container-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
/* Botones de la navbar */
#register .container header .container-header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #2975D9;
    margin: 0 18px;
    font-weight: 900;
    transition: .5s;
}
#register .container header .container-header nav ul a:hover{
    color: #A2C5F2;
}

/* Division en dos */
#register .container-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 60%;
    height: 70%;
    top: 8%;
    left: 20%;
    border: 3px solid rgba(255,255,255,.6);

}

/* Lado izquierdo */
#register .container-forms .welcome {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2)), url("img/alz.jpg");
    background-size: cover;
    place-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
} 

/* WELCOME... */
#register .container-forms .welcome h1{
    text-align: center;
    margin-top: 120px;
    font-size: 3rem;
    font-weight: 900;
}

/* Guardme's website... */
#register .container-forms .welcome h3{
    max-width: 60%;
    margin: 20px auto;
    font-size: 1.0rem;
    text-align: center;
}

#register .container-forms .forms{
    color: #2975D9;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    
}

#register .container-forms .forms h2{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 2rem;
}

#register .container-forms .forms .input-container{
    position: relative;
    margin: 20px 5px;
    width: 300px;
    border-bottom: 3px solid #5298F2;
}

#register .container-forms .forms .input-container input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    margin: 5px 0;
    border: none;
    outline: none;
    font-weight: bold;
    transition: .5s;
}

#register .container-forms .forms button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #2975D9;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    transition: .5s;
}

#register .container-forms .forms button:hover{
    opacity: .9;
}

#register .container-forms .forms .login a{
    font-size: .8rem;
    text-align: center;
    text-decoration: none;
    color:#2975D9;
    
}














